<div class="row">
    <div class="col-md-12">
        <h1>Jobs</h1>
        <hr>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Job Title</th>
                    <th>Max Salary</th>
                    <th>Min Salary</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.job_id}}</td>
                    <td>{{item.job_title}}</td>
                    <td>{{item.max_salary | currency}}</td>
                    <td>{{item.min_salary | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>