<div class="row">
    <div class="col-md-12">
        <h1>Locations</h1>
        <hr>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Country ID</th>
                    <th>City</th>
                    <th>Postal</th>
                    <th>State Province</th>
                    <th>Street Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.location_id}}</td>
                    <td>{{item.country_id}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.postal_code}}</td>
                    <td>{{item.state_province}}</td>
                    <td>{{item.street_address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
