<div class="row">
    <div class="col-md-12">
        <h1>Employees</h1>
        <button class="btn btn-primary" [routerLink]="['/employee/', 'new']">New Employee</button>
        <hr>
        <table class="table table-hover table-bordered" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Department ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Hire Date</th>
                    <th>Job ID</th>
                    <th>Manager ID</th>
                    <th>Phone Number</th>
                    <th>Salary</th>
                    <th>#</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of items">
                        <td>{{item.employee_id}}</td>
                        <td>{{item.department_id}}</td>
                        <td>{{item.first_name}}</td>
                        <td>{{item.last_name}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.hire_date  | date:'dd/MM/yyyy'}}</td>
                        <td>{{item.job_id}}</td>
                        <td>{{item.manager_id}}</td>
                        <td>{{item.phone_number}}</td>
                        <td>{{item.salary | currency}}</td>
                        <td><a [routerLink]="['/employee/', item.employee_id]">Edit</a></td>
                  </tr>
                </tbody>
              </table>
    </div>
</div>